* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
::-webkit-scrollbar{
  width: 1rem;
}
::-webkit-scrollbar-track{
  background-color: #5f4b49;
}
::-webkit-scrollbar-thumb{
  background-color: #d62410;
  border: #560d07 solid .15rem;
}

body {
  margin-top: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #3e022f;
  color: wheat;
  position: relative;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}
/* intro start */
.intro-wrapper {
  max-width: 1000px;
  width: 100%;
  height: auto;
  margin: 50px auto;
  text-align: center;
}
.title {
  text-transform: uppercase;
  width: 100%;
  max-width: 1000px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(to left, #ff0844 0%, #ffb199 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 1.6rem;
  margin-bottom: 30px;
}
.into-text {
  color: wheat;
  width: 80%;
  display: flex;
  text-align: center;
  text-align: center;
  line-height: 2;
  margin-top: 30px;
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
  padding: 30px;
  font-size: 1.2rem;
}
/* slider start */
.slider-title {
  font-size: 1.1rem;
  padding-left: 10px;
  margin-top: 45px;
  margin-bottom:20px ;
  color: wheat;
}
.card-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-auto-flow: column;
  gap: 0.5rem;
  overflow-x: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
}
.card {
  width: 350px;
  height: 250px;
  max-width: 350px;
  max-height: 250px;
  background-color: black;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.5);
  scroll-snap-align: start;
  overflow: hidden;
}
.card-title {
  position: relative;
  padding-top: 20px;
 
}
.card-title p {
  font-size: 1.2rem;
  padding-left: 70px;
  padding-bottom: 30px;
  background-image: linear-gradient(to left, #ff0844 0%, #ffb199 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.bio-img {
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-left: 15px;
  top: -5px;
  margin-top: 20px;
}
.card-title a {
  color: #f6aadf;
  text-decoration: none;
  padding-left: 55px;
  margin-left: 15px;
  position: relative;
}
.card-title a::after {
  content: url("youtube-3.png");
  color: white;
  font-size: 2rem;
  position: absolute;
  left: 0;
  bottom: -19px;
  padding-left: 10px;
}
span{
  color: wheat;
  font-size: .8rem;
}

a:hover {
  color: aqua;
}
.card-body {
  text-align: left;
  position: relative;
}
.card-body p {
  margin-top: 15px;
  margin-left: 15px;
}
.read-more-btn {
  color: #f6aadf;
  background-color: transparent;
  font-size: 0.8rem;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  position: absolute;
  left: 10px;
  top: 110px;
}
.card-body .read-more-btn:hover {
  color: aqua;
}
.read-less-btn {
  color: #f6aadf;
  background-color: transparent;
  font-size: 0.8rem;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}
.read-less-btn:hover {
  color: aqua;
}

dialog {
  position: absolute;
  left: 20%;
  top: 50%;
  transform: translate(-20% -50%);
  background-color: black;
  color: wheat;
  width: 300px;
  padding: 20px 15px;
  border: white 0.5px solid;
  max-height: 350px;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.5);
  box-shadow: white 1px 1px 10px;
}
/* slide two */
.slider-title2 {
  font-size: 1.1rem;
  padding-left: 90px;
  margin-top: 45px;
  margin-bottom:20px ;
  color: wheat;
  position: relative;
}
.slider-title2::after{
  content: url("udmey-logo.png");
  font-size: 2rem;
  position: absolute;
  width: ;
  left: 15px;
  top: -10px;
  height: 50px;
  width: 50px;
  z-index: 10;
}
.slider-title2 a {
  color: #f6aadf;
  text-decoration: none;
  position: relative;
}
.slider-title2:hover{
  color: aqua;
} 

.card-container2 {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-auto-flow: column;
  gap: 0.5rem;
  overflow-x: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
}
.card2 {
  width: 350px;
  height: 300px;
  max-width: 350px;
  max-height: 300px;
  padding: 20px 15px ;
  background-color: black;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.5);
  scroll-snap-align: start;
  overflow: hidden;
}
.card-title2 p{
  text-align: center;
  font-size: 1.3rem;
  background-image: linear-gradient(to left, #ff0844 0%, #ffb199 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin-bottom: 20px;
}
.bio-container2{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.card-content p{
  padding-left: 10px;
  margin-top: 20px;
}
span{
  color: wheat;
  font-size: .8rem;
}

a:hover {
  color: aqua;
}
.card-body2 {
  text-align: left;
}

.bio-img2{
  border-radius: 50%;
  height: 70px;
  width: 70px;
  margin-left:20px;
}
.read-more-btn2 {
  color: #f6aadf;
  background-color: transparent;
  font-size: 0.8rem;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  position: relative;
  margin-left: 10px;
}
.read-more-btn2:hover {
  color: aqua;
}
.read-less-btn2 {
  color: #f6aadf;
  background-color: transparent;
  font-size: 0.8rem;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}
.read-less-btn2:hover {
  color: aqua;
}

/* dialog {
  background-color: black;
  color: wheat;
  width: 250px;
  border: white 0.5px solid;
  max-height: 350px;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.5);
  box-shadow: white 1px 1px 10px;
} */

/* button start */
.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}
.home-btn {
  outline: none;
  border: none;
  border-radius: 20px;
  padding: 0.5rem 0.5rem;
  background-image: linear-gradient(to left, #ff0844 0%, #ffb199 100%);
  display: flex;
}

.home-btn:hover {
  background-image: linear-gradient(to right, #ff0844 0%, #ffb199 100%);
}
.home-btn a {
  color: black;
  font-size: 1.1rem;
  text-decoration: none;
  border: none;
}
.home-btn a:hover {
  color: black;
}
