* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
::-webkit-scrollbar{
  width: 1rem;
}
::-webkit-scrollbar-track{
  background-color: #5f4b49;
}
::-webkit-scrollbar-thumb{
  background-color: #d62410;;
  border: #560d07 solid .15rem;
}

body {
  background-color: #3e022f;
}
/* nav bar start */
.clock{
  height: 20px;
  background-color: black;
  z-index: 10;
  position: absolute;
  margin: 0 auto;
  top: 5px;
  left: 15px;
  margin-bottom: 30px;
}
.clock span{
  color: white;
  font-size: .8rem;
  padding: 2px 2px;
}
.nav-wrapper {
  width: 100%;
  max-width: 1000px;
  height: 90px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  z-index: 999;
  margin: 0 auto;
}
.logo {
  height: 100%;
  background-color: #ff8177;
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-top: 20px;
  background-image: linear-gradient(to left, #ff0844 0%, #ffb199 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 1.4rem;
}
.nav-list-wrapper {
  color: white;
  margin-right: 20px;
}
.nav-list {
  display: flex;
  font-size: 1.2rem;
  list-style: none;
  margin-top: 20px;
}
.nav-list,
li {
  padding-right: 10px;
  padding-left: 10px;
}
.nav-list li a {
  text-decoration: none;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  color: white;
}
.nav-list li a:hover {
  color: #ff7062;
  transition: all 1.3 ease;
}

@media screen and (max-width: 960px) {
  .nav-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }
  .nav-list-wrapper {
    background-color: black;
    height: 350px;
    width: 100%;
    margin: 0px;
    transition: all 2s ease-in-out;
    display: none;
  }
  .nav-list {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .nav-list li {
    padding-top: 20px;
  }
  .hamburger {
    position: absolute;
    right: 10px;
    width: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .bar1 {
    display: block;
    background-color: white;
    width: 25px;
    height: 2px;
    z-index: 20;
  }
  .bar2 {
    display: block;
    background-color: white;
    width: 20px;
    height: 2px;
    z-index: 20;
    margin-top: 5px;
  }
  .bar3 {
    display: block;
    background-color: white;
    width: 20px;
    height: 2px;
    z-index: 20;
    margin-top: 5px;
  }
  .nav-list-wrapper-active {
    display: block;
  }
  .bar1-active {
    opacity: 0;
  }
  .bar2-active {
    transform: translateY(4px) rotate(45deg);
  }
  .bar3-active {
    transform: translateY(-4px) rotate(-45deg);
  }
}
/* nav bar end */

/* main section start */
.intro-text-wrapper {
  width: 100%;
  height: auto;
}
.intro-text {
  width: 100%;
  max-width: 1500px;
  height: 1005;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5px auto;
  padding: 5px;
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(to left, #ff0844 0%, #ffb199 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 1.6rem;
}

.intro-text-wrapper p {
  color: wheat;
  width: 100%;
  max-width: 1300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 20px 10px 20px;
  font-size: 1.2rem;
}
.intro-sub-text {
  color: wheat;
  text-align: center;
  max-width: 1300px;
  width: 90%;
  padding: 0 2rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
  margin-right: auto;
  margin-left: auto;
}
/* accordion start*/

.accordion {
  width: 90%;
  max-width: 1000px;
  margin: 2rem auto;
}
.accordion-item {
  background-color: white;
  color: black;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.5);
}
.accordion-item-header {
  padding: 0.5rem 1rem 0.5rem 1rem;
  max-height: 3.5rem;
  line-height: 1.25rem;
  font-size: 1.24rem;
  font-weight: bolder;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  background-image: linear-gradient(to left, #ff0844 0%, #ffb199 100%);
}
.accordion-item-header::after {
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
}
.accordion-item-header.active::after {
  content: "\2212";
}

.accordion-item-header:hover {
  background-image: linear-gradient(to right, #ff0844 0%, #ffb199 100%);
}
.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  /* transition: max-height .3s ease-out; */
}

.accordion-item-body-content {
  padding: 1rem;
  line-height: 1.5rem;
  font-size: 1.1rem;
  word-spacing: 0.2rem;
  color: white;
  background-color: #3e022f;
}
a {
  color: #f6aadf;
  text-decoration: none;
}
a:hover {
  color: aqua;
}
.accordion-item-header.active + .accordion-item-body {
  max-height: 300px;
  overflow-y: auto;
  overscroll-behavior-y: contain;
}
/* accordion end */

footer {
  max-width: 1000px;
  margin: 0 auto;
  background-color: black;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rtnTop {
  align-self: flex-end;
  margin-right: 2rem;
}
.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-top: 1rem;
  height: 100%;
}
.social-item {
  text-decoration: none;
}
footer img {
  width: 30px;
  height: 30px;
  transition: all, 10s, ease-in;
}
footer img:hover {
  transform: scale(150%);
}
.trademark {
  color: white;
  margin-bottom: irem;
}
@media (max-width: 400px) {
  html {
    font-size: 14px;
  }
  footer img {
    width: 20px;
    height: 20px;
  }
  .intro-sub-text {
    text-align: center;
    line-height: 1.5em;
  }
}
